## Lab | Inferential statistics - ANOVA

#### Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

##### Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data `anova_lab_data.xlsx` file in the `files_for_lab` folder

* State the null hypothesis
* State the alternate hypothesis
* What is the significance level
* What are the degrees of freedom of model, error terms, and total DoF

In [18]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [19]:
df = pd.read_excel('files_for_lab/anova_lab_data.xlsx')
df.columns = ('power', 'etching_rate')
df

    power  etching_rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [20]:
df['power'] = df['power'].str.replace('W', '')
df['power'] = df['power'].astype('int')
df

    power  etching_rate
0     160          5.43
1     180          6.24
2     200          8.79
3     160          5.71
4     180          6.71
5     200          9.20
6     160          6.22
7     180          5.98
8     200          7.90
9     160          6.01
10    180          5.66
11    200          8.15
12    160          5.59
13    180          6.60
14    200          7.55

In [24]:
df.groupby('power').agg(np.mean)

       etching_rate
power
160           5.792
180           6.238
200           8.318

* Ho = the means are similar (the different power levels have the same average etching rate); <br>
* Ha = the means are different (two-tailed test) (there is at least one power level with the mean different then the others).
* Level of significance 0.05
* DoF = 14

#### Part 2

* In this section, use Python to conduct ANOVA.
* What conclusions can you draw from the experiment and why?

In [25]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('etching_rate ~ C(power)',data=df).fit()
sm.stats.anova_lm(model)

            df     sum_sq   mean_sq          F    PR(>F)
C(power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

* 0.000008 < 0.05 ---> p_value < alpha
* Considering a significance level of 0.05, the p-value is below, so we reject the null hypothesis. <br>
* We can conclude that at least one of the power levels resulted in different mean